
  /* variables */
  .headings {
    font-size: 5rem;
  }
  .paragraphs {
    font-size: 2rem;
  }
  
  .hidden {
    display: none;
  }
  .visible {
    display: block;
  }
  
  
  /* INDEX */
  section {
  
  }
  .home-landing-wrapper, .services-landing-wrapper,
  .portfolio-landing-wrapper, .landing .contact {
  width: 100%;
  min-height: 120vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
  .home-landing-wrapper {
  background-image: url("/images/landing2.jpg");
  background-size: cover;
  
  }
  .landing-text button, .services-text button,
  .services-text button {
  margin-top: 50px;
  font-size: 1.5rem;
  }
  .landing-text, .aboutus-landing, .services-text{
  top: 400px;
  text-align: left!important;
  width: 60%;
  }
  .landing-text p, .aboutus-landing p, .services-text p,
  .contact-text p {
  margin: 50px 0 0 0;
  }
  .aboutus-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("/images/landing2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
  button a {
  color: white;
  text-decoration: none;
  }
  /* SERVICES */
  .services {
  width: 100%;
  }
  .services-landing-wrapper {
  background-image: url("/images/services-current.jpg");
  }
  .services-items-wrapper {
  background-image: url("/images/services-current.jpg");
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3);
    margin-top: 100px;
    width: 50vw;
    justify-content: left;
  }
  .grid-container-items {
  
  }
  .grid-container-items p {
  
  }
  /* PORTFOLIO */
  .photos {
  height: 100%;
  }
  .portfolio-landing-wrapper {
  background-image: url("/images/portfolio-current.jpg");
  }
  .portfolio-wrapper {
  width: 100%;  
  background: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
  .row {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  }
  .column {
  flex: 25%;
  padding: 0;
  transition: 1s ease;
  margin: 25px;
  }
  .column img {
  margin: 25px;
  vertical-align: middle;
  width: 100%;
  box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 5px solid white;
  }
  .column img:hover {
  width: 150%;
  margin: 0 auto;
  }
  /* CONTACT */
  #contact {
  height: 100vh;
  display: inline-block;
  width: 100%;
  background-image: url("/images/livingroom1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
  .contact-text {
  margin-top: 250px;
  }
  .contact-container {
  margin: 0;
  margin-top: 250px;
  }
  .contact-header {
  margin-top: -50px;
  font-size: 3rem;
  }
  form {
  width: 30%;
  margin: 0 0 0 150px;
  }
  #fname, #lname, #mail, #subject {
  border: 1px solid white;
  border-bottom: 1px solid white;
  color: white;
  box-shadow: none;
  background: transparent;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 100!important;
  font-family: 'Questrial', sans-serif!important;
  }
  select, textarea {
  border-radius: 10px;
  box-shadow: none;
  }
  textarea {
   min-height: 20vh;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
  }
  input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 3px solid white!important;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 55px;
  resize: vertical;
  box-shadow: 
  inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
  inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  font-family: 'Questrial', sans-serif;
  }
  input[type=submit] {
  color: white;
  border-radius: 4px;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  font-family: 'Questrial', sans-serif;
  }
  .contact-text button {
   font-size: 1.5rem;
   margin: 0;
  }
  .container-contact {
  margin-top: 150px;
  }
  .contact ul {
  list-style: none;
  text-align: center;
  }
  .socials {
  margin: -710px 300px 0 0;
  
  }
  .socials img {
   margin-top: 25px;
   margin-right: 25px;
   height: 65px!important;
  }
  .socials li {
   margin: 40px;
   font-size: 1.5rem;
  }
  /* FOOTER */
  footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 5px 0;
  border-top: 1px solid white;
  }
  
  
  
  /* INDEX */

  section {
    height: 100%;
  }
  .landing-text button, .services-text button,
  .services-text button {
  margin-top: 50px;
  font-size: 1rem;
  }
  .landing-text, .aboutus-landing, .services-text{
  top: 0px;
  text-align: left;
  width: 90%;
  }
  .landing-text p, .aboutus-landing p, .services-text p,
  .contact-text p {
  margin: 100px 0 0 0;
  }
  .aboutus-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("/images/landing2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
  button a {
  color: white;
  text-decoration: none;
  }
  /* SERVICES */
  .services {
  width: 100%;
  }
  .services-landing-wrapper {
  background-image: url("/images/services-current.jpg");
  }
  .services-items-wrapper {
  background-image: url("/images/services-current.jpg");
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3);
    margin-top: 100px;
    width: 50vw;
    justify-content: left;
  }
  .grid-container-items {
    margin-top: 25px;
  }
  .grid-container-items p {
    margin-top: -25px;
  }
  /* FOOTER */
  footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    padding: 5px 0;
    border-top: 1px solid white;
    }